<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="nav-wrapper blue">
    <div class="container">
      <a class="brand-logo" href="#">MEAN CRUD - HENDI SANTIKA</a>
    </div>
  </div>
</nav>

<app-employee></app-employee>
