<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
            <input #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id" name="_id" type="hidden">
            <div class="row">
              <div class="input-field col-s12">
                <input #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" name="name"
                       placeholder="Enter your FullName" type="text">
              </div>
              <div class="input-field col-s12">
                <input #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" name="position"
                       placeholder="Enter your Position" type="text">
              </div>
              <div class="input-field col-s12">
                <input #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" name="office"
                       placeholder="Enter your Office" type="text">
              </div>
              <div class="input-field col-s12">
                <input #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" name="salary"
                       placeholder="Enter your Salary" type="text" value="0">
              </div>
              <div class="card-action">
                <div class="input-field col-s12">
                  <button (click)="resetForm(employeeForm)" class="btn right" style="margin-left: 2px;">Clean</button>
                  <button class="btn right">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table class="striped highlight black-text">
        <thead>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Operations</th>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employeeService.employees">
          <td>{{ employee.name }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.office }}</td>
          <td>
            <a (click)="editEmployee(employee)">
              <i class="material-icons">edit</i>
            </a>
            <a (click)="deleteEmployee(employee._id, employeeForm)">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
